YSELL_BASE_URL=https://api.example.com
YSELL_TIMEOUT=10
DEFAULT_PRICE=12.99
DEFAULT_MIN_PRICE=7.99
PRICE_MARKUP=2.8
FALLBACK_CATEGORY_ID=262363
LOCATION=Bremen
SHIPPING_PROFILE_NAME="DHL-Standardvorlage - (ID: 76770166018)"
RETURN_PROFILE_NAME="Standard-Widerruf 30 Tage für eBay Plus - (ID: 247364069018)"
PAYMENT_PROFILE_NAME="UK Gutschein"
